html, body, main {
    background-color: darkgray;
    padding-bottom: 50px;
}

.divExerciseCSS1html {
    display: grid;
    row-gap: 50px;
    column-gap: 5px;
    grid: repeat(10, 100px) / auto-flow 100px;
    justify-content: center;
}

.divExerciseCSS2js:nth-child(2n) {
   background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divExerciseCSS2js {
    /*width: 20%;*/
    background-color: darkgrey;

}
